* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #ff8b85;
  background-image: url(img/Large-Triangles.svg);
}

.instr {
  text-align: center;
  font-size: 2em;
  margin: 20px;
  font-weight: 700;
  visibility: visible;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4c5f63;
  color: #fefefe;
}

.title h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 20px 0;
}

.title p {
  font-size: 1.3em;
  margin: 10px 0;
}

.content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 30px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
  background-color: #60eaf4;
}

.box {
  width: 300px;
  height: 240px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  margin: auto;
  border-radius: 2px;
  background-color: #efefef;
  -webkit-box-shadow: 0 0 5px 5px rgba(46, 46, 46, 0.4);
          box-shadow: 0 0 5px 5px rgba(46, 46, 46, 0.4);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box .row {
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box .row .col {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  border-radius: 5px;
  padding-top: 10px;
  background-color: #efefef;
  margin: 3px;
}

.controls {
  width: 340px;
  background-color: #60eaf4;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: circle(9% at 8.5% 45%);
          clip-path: circle(9% at 8.5% 45%);
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.controls .i-contain {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.controls .i {
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}

.controls .i:hover {
  font-size: 1.3em;
}

.controls .control-instr {
  display: none;
}

.controls .desc {
  padding: 10px;
}

.hide {
  display: none;
}

.mobile-control {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 20px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.mobile-control img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.mobile-control .key {
  border-radius: 25%;
  padding: 10px;
  background-color: #ffda60;
  cursor: pointer;
}

.mobile-control .key:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mobile-control .ldr {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
/*# sourceMappingURL=style.css.map */